@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

* {
    font-family: 'Sunflower', sans-serif;
    margin: 0;
}


body {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.container>h1#title {
    padding-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    font-weight: bold;
}


/* Header **/
header {
    background: #196282;
    color: #ffffff;
    padding-top: 25px;
    min-height: 70px;
    border-bottom: #fff 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin-top: -8px;
}

header nav {
    float: right;
    margin-top: 4px;
    /* font-size: 20px */
}

header #highlight,
nav .current {
    color: #f65383;
    font-weight: bold;
}

nav .display {
    display: none
}

header #trackerText {
    font-size: 30px;
}

header a:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#logo {
    font-size: 23px;
}

#backgroundImg {
    min-height: 90vh;
    background: url("../img/backgroundimg.jpg") no-repeat 0;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#backgroundImg h1 {
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: 10px;
}

#backgroundImg p {
    font-size: 20px;
    padding: 15px;
}


#buttonSubmit {
    width: 45%;
    background: #196282;
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 18px;
    margin: 31px 136px;
}

#detailsButton {
    width: 40%;
    background: #196282;
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}

#detailsButton:hover {
    background: #78a5b8;
    color: #ffffff;
}

#buttonSubmit:hover {
    background: #78a5b8;
    color: #ffffff;
}

.viewBtn {
    height: 20px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #ba7e0f;
}


.landingBtn {
    width: 30%;
    background: #fff;
    color: #1f769d;
    padding: 14px 40px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    border: 2px solid transparent;
}

.landingBtn:hover {
    background: whitesmoke;
    color: #1f769d;
    border: 2px solid transparent;
    cursor: pointer;
}

.viewSubmit {
    width: 28%;
    background: #ba7e0f;
    color: #ffffff;
    /* padding: 3px 17px; */
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;
}

#admin-details {
    width: 50%;
    height: 300px;
    margin: 0 auto;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 740px;
}

.white-login {
    padding: 15px;
    background: #fff;
    color: #ffffff;
    margin-bottom: 0px;
    height: 600px;
    margin: 0;
}

.whitee-login {
    padding: 15px;
    background: #fff;
    color: #ffffff;
    margin-bottom: 0px;
    height: 530px;
    margin: 0;
}

.col-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    flex: 1;
    padding: 10px;
    margin: 20px;
    height: 100px;
    color: white;
    border-radius: 30px;
}

.dashboard {
    margin: 25px 100px 0 100px;
    height: auto;
}

.white-bg {
    background: white;
}

.white-bg2 img {
    border-radius: 50%;
    height: 130px;
    width: 130px;


}



.admincal {
    color: rgb(25, 98, 130);
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
}

.showDetails,
.deleteAccount {
    border-radius: 5px
}

.select-button {
    width: 120px;
    padding: 5px;
    margin: 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
}

.showDetails:hover {
    cursor: pointer;
    background: #196282;
    color: white
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
    padding-right: 30px;
}

#textbox {
    clear: both;
}


#tableContainer {
    overflow-x: auto;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    background: #196282 !important;
    color: white
}

tr:hover {
    background-color: #ffffff;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid grey;
}

#one,
#two,
#four,
#five,
#seven {
    color: green;
    font-weight: bold;
}

#three,
#eight,
#six {
    color: red;
    font-weight: bold;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
    padding-right: 30px;
}


section>#admin-bar,
#login-bar,
#signup-bar #dashboard-bar {
    width: 100%;
}

#settingsImage {
    width: 50%;
    margin: 0 auto;
}



footer {
    padding: 20px 0px 20px 0px;
    color: #ffffff;
    background-color: #196282;
    text-align: center;
    margin: 0 auto !important;
}


/* modal 2 */

/* [Object] Modal
 * =============================== */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    transition: opacity .25s ease;
}


.modal-state {
    display: none;
}

.modal-state:checked+.modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
    top: 0;
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #196282;
    color: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 70%;
}

.modal__inner .detail {
height: 50%
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #aaa;
}

.modal__close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

#accountdetails {
    background-color: #196282;
    color: #f4f4f4;
    padding: 10px;
    font-weight: bold
}

/*pagination*/
.pagination {
    display: inline-block;
}

#paginationalign {
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.activve {
    background-color: #196282;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.activve) {
    background-color: #ddd;
    border-radius: 5px;
}